<div class="row" [ngClass]="{'completed': articulo.completed}">
    <div class="a">
        <input type="checkbox" [checked]="articulo.completed" (change)="onToggle(articulo)">
        {{articulo.title}}
    </div>
    <div class="b">
        {{articulo.price | currency}}
    </div>
    <div class="c">
        {{articulo.quantity }}
    </div>
    <div class="d">
        {{(articulo.price*articulo.quantity)| currency}}
    </div>
    <div class="action">
        <button (click)="onDelete(articulo)">Eliminar</button>
    </div>
</div>